{% extends 'joka_series/base.html' %}

{% block content %}
    <section class= "hero">
        <a href="{% url 'joka_series:detail' heroLink %}">
            <img src="{{ heroImage }}" alt="">
        </a>

    </section>
    <h1 class="hot">What's Hot🔥</h1>
    <section class="content">
        {% for title, link, image in series %}
            <a href="{% url 'joka_series:detail' link %}">
                <div class="episodes">
                    <img src="{{ image }}" alt="{{ title }}">
                    <h3>{{ title }}</h3>
                </div>
            </a>
        {% endfor %}


    </section>

{% endblock content %}