@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav li {
  list-style-type: none;
}

li,a {
  text-decoration: none;
  display: inline-block;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 70, 83);
  height: 5em;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.home {
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em;
  background-color: rgb(39, 61, 73);
  border-radius: 5px;
  color: rgb(152, 228, 189);
  margin: 1em;
  transition: background-color ,color .5s ease;
}

#search {
  height: 3em;
  border-radius: 5px;
  border: none;
  background-color: rgba(229, 246, 248,.3);
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(77, 224, 148);
}


svg {
  width: 3em;
  height: 3em;
  margin: 1em;
}

.fa-primary {
  color: rgb(152, 228, 189);
  transition: all .5s ease;
}

.fa-secondary {
  color: rgb(80, 196, 137);
  transition: all .5s ease;
}

svg:hover .fa-primary{
  color: rgb(80, 196, 137);
}

svg:hover .fa-secondary {
  color: rgb(152, 228, 189);
}

.home:hover {
  background-color: rgb(33, 51, 61);
  color: rgb(80, 196, 137);
}

body {
  background-color: rgb(229, 246, 248) ;
}

main {
  margin-top: 5em;
}


@media (min-width: 700px) {

  #search {
      width: 20em;
      padding-left: 1em;
  }
}

@media (min-width: 900px) {

  #search{
      width: 25em;
  }
}